.aboutUs-container {
  color: white;
}

.aboutUs-title {
  text-align: center;
  text-shadow: 1px 1px black;
}

.aboutUs-text {
  text-align: center;
  font-size: 25px;
  text-shadow: 1px 1px black;
}

.store-btn {
  margin: 10px;
  text-align: center;
}
